*,
*::after,
*::before {
  box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}
a {
    text-decoration: none;
    color: inherit;
  }
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .header__inner{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
  }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .menu {
    width: 100%;
    margin-top: 28px;
  }
  .menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
  .menu__item{
    min-width: 165px;
    padding:25px 50px;
    border-right: 1px solid #EEEEEE;
    background-color: #F4F5F7;
    text-transform: uppercase;
  }
  .menu__item:nth-child(7){
      border-right: none;
  }
  .menu__item:hover{
    background-color: #EAECF0;
    color: blue;
  }
  .menu__link{
      display: flex;
     justify-content: center;
  }
 
.header__search{
  position: relative;
  width: 365px;
  
}
.search {
    background: #A3D0C3;
}
.search input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border: 2px solid #A1A1A1;
  border-radius: 5px;
  outline: none;
 }
.search button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 75px;
  height: 35px;
  border: none;
  background: #0049B0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search button::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.buttons__inner{
    display: grid;
    grid-gap: 50px;
    justify-content: center;
    margin-top: 100px;
    text-decoration: none;
}
.buttons__title{
    font-size: 36px;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.buttons__menu{
    display: flex;
    
}

.buttons__list{
    list-style-type: none;
    text-transform: uppercase;
   letter-spacing: 2px;
    padding: 20px;
    background-color: #0049B0;
    margin-left: 20px;
    border-radius: 2px;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;

}
.buttons__list:nth-child(2){
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    border: 1px solid #0049B0;
    color: #0049B0; 
     
    
}
.buttons__list:nth-child(3){

    background-color: #34BF49;
    
}
.buttons__list:nth-child(4){
    background-color: #6DCFF6;
  
}
.buttons__list:nth-child(5){
    background-color: #F49A9E;
    
}
.buttons__list:nth-child(6){
    background-color: #ED1C24;
   
}
.buttons__item{
    display: flex;
   align-items: flex-end;
}

.inputs__inner{
  display: grid;
  grid-gap: 50px;
  justify-content: center;
  margin-top: 100px;
  text-decoration: none;
}
.inputs__title{
  font-size: 36px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
.inputs__top{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 50px;
  
}
.inpets__checkbox{
  display: grid;
  grid-gap: 15px;
}

.check-box{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}
.check-style{
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #464646;
  margin-left: -20px;
}
.check-box:checked + .check-style{
  border-color: #31A5E7;
}

 .check-box:checked + .check-style::before{
  content: "";
  position: absolute;
  left: 3px;
  top: 1px;
  width: 16px;
  height: 16px;
  /* background:#31A5E7;*/
   background-image: url(../images/Gr.svg);
   background-repeat: no-repeat;
 }
 .radio-box{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}
.radio-style{
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #464646;
  margin-left: -20px;
  border-radius: 50%;
}
.radio-box:checked + .radio-style{
  border-color: #31A5E7;
}
.radio-box:checked + .radio-style::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
 width: 6px;
 height: 6px;
   background:#31A5E7;
   border-radius: 50%;
}

.inpets__switch{
  display: flex;
}
.switch{
  margin-top: -3px;
}
.switch-text{
  position: absolute;
  margin-left: 60px;
}




.switch label{
  position: absolute;
  display: block;
  width: 50px;
  height: 20px;
  background-color:#F49A9E ;
  border-radius: 20px;
  cursor: pointer;
}
.switch label::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
}
.switch input:checked + label{
background-color: #34BF49;
transition:  0.4s;
}
.switch input:checked + label::after{
  transform: translateX(30px);
  transition: 0.3s;
}   
.switch input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
 
.switch + .switch-style{
  position: absolute;
  display: block;
  width: 50px;
  height: 20px;
  background-color:#F49A9E ;
  border-radius: 20px;
  cursor: pointer;
}
.switch + .switch-style::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
}
.switch input:checked + .switch-style{
background-color: #34BF49;
transition:  0.4s;
}
.switch input:checked + .switch-style::after{
  transform: translateX(30px);
  transition: 0.3s;
}   
.switch input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/*xxxxxxxxxxxxxxxxxxxxx*/



.star__inner{
  display: grid;
  grid-gap: 50px;
  justify-content: center;
  margin-top: 100px;
  text-decoration: none;
}
.star__title{
  font-size: 36px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 16px;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 3px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
  